@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Pretendard-Regular";
}

article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}

#img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
}

.share {
    margin: 30px auto;
}